*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
   
}
#heading{
    float: left;
    width: 50%;
    
}
.span:hover
{
  padding:5px;
  color: #FDB735;
  
  
}
.fa-basketball-ball:hover {
  color:#0d317e;
}
.fa-instagram:hover {
  color:#0d317e;
}
.fa-behance-square:hover{
  color:#0d317e;

}
.fa-linkedin:hover{
  color:#0d317e;
}


/* #home {
  color: #FFD200;
  overflow: hidden;
}
#portofolios {
  color: #FFD200;
}
#resume {
  color: #FFD200;
}
#contact {
  color: #FFD200;
} */
#heading a {
    text-decoration: none;
    padding-left: 60px;
    color:#264A99;
    font-size: 30px;
    margin-left: 55px;
}
/* NAVBAR */

.navbar {
  width: 100%;
  position: fixed;
  z-index: 1;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.img-logo {
  width: 50px;
  height: 35px;
}

.nav-link {
  font-size: 18px;
  color: #264A99;
  margin-left: 50px;
}

.active .nav-link {
  color: #FFD200;
}

.nav-link:hover {
  color: #FFD200;
}

a.navbar-brand
{
    margin: auto;

}
#menu {
    background-color: #FBFCFD;
    width: 100%;
    height: 65px;
    margin: 0px;
    padding: 1px;
    top: 0; /* Position the navbar at the bottom of the page */
    position: fixed;
    z-index: 1;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);

}
#menu ul {
    list-style: none;
  
}
#menu ul li {
    text-align: center;
    line-height: 65px;
    
}
#menu ul li a {
    float:left; 
    margin-left: 55px;
    display:block; 
    color:#264A99; 
    text-decoration:none; 

}
#menu ul li a.active {
  color: #FFD200;
}
#menu ul ul {
    display:none; 
    list-style:none; 
    position:absolute; 
    float: none;
    top:65px; 
    width:200px;
}
#menu ul li a:hover {
    color: #FFD200;
    display:block;
}
#menu ul li:hover ul {
    display:block;
}
.section-banner
{
  background-color: #FBFCFD;

}
section {
  padding: 6rem 0;
}
.section-user 
{
    background-color: #264A99;
  
}
.section-porto
{

  margin-top: 20%;
}

strong
{
  color: #264A99;
  font-weight: 600;

}
p.copyright
{
  color: #407BFF;

}
.section-testi
{
    
    text-align: center;
    padding-left: 20px;

}
.section-contact
{
  margin-top: -8%;

}
.section-footer
{
  background-color: #D8DEED;
  width: 100%;

}

 
  .btn {
    font-size: 16px;
    padding: 0.75rem 1rem;
    border-radius: 30px;
    width: 30%;
    
  }
 
  .btn1 {
    font-size: 16px;
    padding: 0.75rem 1rem;
    border-radius: 30px;
    line-height: 25px;
    margin-right: 28%;
    cursor: pointer;
    background-color: #264A99;
    border-color: #264A99;;
    color: #ffffff;
    width: 28%;
  }
  .btn2 {
    font-size: 16px;
    padding: 0.75rem 1rem;
    border-radius: 30px;
    line-height: 25px;
    margin-left: 40%;
    cursor: pointer;
    background-color: #264A99;
    border-color: #264A99;;
    color: #ffffff;
    width: 28%;
  }
  .btn3
  {
    border: 3px solid #264A99;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 30px;
    color: #264A99;
    width: 25%;
    height: 40px;
    cursor: pointer;
    
  
  }
  .btn3 i
  {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    

  }
  
  .btn-primary {
    background-color: #264A99;
    color: #ffffff;
    width: 28%;
    
  }

  .btn-primary:hover {
    border-color: #264A99;
    background-color: transparent;
    color: #264A99;
  }
  .btn1:hover {
    border-color: #264A99;
    background-color: transparent;
    color: #264A99;
  }
  .btn2:hover {
    border-color: #264A99;
    background-color: transparent;
    color: #264A99;
  }


  .btn3:hover {
    border-color: #264A99;
    background-color: #264A99;
    color: #ffffff;
  }
  
  
  .btn-secondary
  {
      background-color: #FFD200;
      color: #264A99;
      font-weight: bold;
      margin-top: 45px;
      margin-left: 35px;

  }
  .btn-secondary:hover {
    border-color: #FFD200;
    background-color: transparent;
    color: #FFD200;
  }
  h3.greetings
  {
    color: #264A99; 
    font-size: 35px;
    font-weight: 600;
    padding-top: 5.5rem;

  }
  h2.name 
  {
    color: #264A99; 
    font-size: 90pt;
    font-weight: bold;
    
  }
  p.banner_desc
  {
    width: 471px;
    height: 50px;
    left: 96px;
    top: 371px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    /* or 156% */
    color: #767779;
    margin-bottom: 2rem;

  }
  p.porto_desc
  {

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height, or 125% */
    color: #417CFF;
    margin-top: 20px;

  }
  h1.porto
  {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: #264A99;
    /* identical to box height */
  
  }
  h1.header
  {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: #264A99;
    /* identical to box height */
  
  }
  h3.hi
  {
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 63px;
    color: #FFFFFF;
    padding-top: 3rem;
  
  }
  h3.skill
  {
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: #264A99;

  }
  h3.message
  {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */
    color: #FDB735;
    margin-top: 50px;
    
  }
  h5.title
  {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #264A99;
    

  }
  .card
  {
    position: absolute; 
    background: #FFFFFF;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    margin-top: 4rem;
    width: 954px;
    height: 362px;
    
  }
  .card2
  {
  
    background: #FFFFFF;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin-top: 4rem;
    width: 954px;
    height: 394px;

  }
  .card3
  {
    background: #FFFFFF;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    width: 954px;
    height: 394px;

  }
  .card-body
  {
    width: 80%;
    margin: .5rem;
    
  }

  p.user_desc
  {
    width: 585px;
    font-size: 18px;
    font-weight: medium;
    line-height: 25px;
    color: #FFFFFF;
    justify-content: center;

  }
  p.m_desc
  {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    /* or 156% */
    color: #767779;
    width: 90%;
    text-align: left;
    padding-left: 23%;
    padding-top: 10px;
    padding-bottom: 25px;

  }
  p.o_desc
  {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    /* or 156% */
    color: #767779;
    width: 75%;
    text-align: right;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 25px;
    margin-left: 15%;

  }
  p.t_desc
  {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    /* or 125% */
    text-align: center;
    color: #767779;

  }
  p.skill_desc
  {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #767779;
    

  }
  .copy
  {
    margin-top: 30px;

  }
 
  .section-bottom
  {
    margin-bottom: 2.5rem;
    margin-top: 3rem;

  }

  input[type=text], select {
    /* width: 100%; */
    background-color: #D8DEED;
    font-size: 16px;
    border-radius: 4px;

  }
  .form-control::placeholder {
    color: #264A99;
    font-size: 16px;
  }
  input[type=text]:hover {
    border: 1px solid #264A99;
    border-radius: 5px;
    
  }
  .footer
  {
    background-color: #D8DEED;
    width: 100%;;
    
  }
  .sosmed
  {
    
    width: 100%;
    color: #264A99;
    font-size: 38px;

  }
  

 textarea#inputMessage { 
      background-color: #D8DEED;
      
    }
textarea:hover {
      border: 1px solid #264A99;
     
      }

      .clearfix{clear: both;}


      /*-- banner-bottom --*/
      .testimonials{
        padding:1em 0;
        margin-top: -15%;
      }
    
      /* testimonials-carousel */
      h4.testi-name{
        font-size:18px;
        font-weight: 600;
        color:#264A99;
        margin:1em 0 0.5em;
        text-align: center;
        
    }
    h5.testi-job{
      font-size:16px;
      color:#A6A0A0;
      text-align: center;
    }
    
    
    .carousel .carousel-item {
      color: #999;
      overflow: hidden;
      min-height: 120px;
      font-size: 13px;
    }
    .carousel .media img {
      display: block;
      margin: auto;
      border-radius: 50%;
    }
    .carousel .media-body
    {
              padding:2em 1em 2em;
              background: #ffffff;
              text-align: center;
              position: relative;
              margin: 5em 1.2em 0;
              box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.05);
              border-radius: 15px;
    
    }
    .carousel .testimonial {
      padding: 0 15px 0 60px ;
      position: relative;
      
    }
    p.testi-desc{
            color:rgb(0, 0, 0);
            position:relative;
            text-align: left;
            padding-left:1rem;
            font-style: italic;
            font-weight: 300;
            font-size: 17px;
            line-height: 24px;

    }
    .carousel .testimonial::before {
            content:"\f10d";
            font-size:2.5em;
            color:#FFD200;
            font-family:FontAwesome;
            position:absolute;
            top:0%;
            left:2%;
    }
    .carousel .overview b {
      text-transform: uppercase;
      color: #264A99;
    }
    .carousel .carousel-indicators {
      bottom: -50px;
    }
    .carousel-indicators li, .carousel-indicators li.active {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin: 1px 3px;
      box-sizing: border-box;
    }
    .carousel-indicators li {	
      background: #e2e2e2;
      border: 4px solid #fff;
    }
    .carousel-indicators li:hover{
      background: #436eca; 
    
    }
    
    .carousel-indicators li.active {
      background: #264A99;    
        
    }
      
/*-- testimonials --*/
      /* .phpkida_testimonials_grids{
        margin:3rem auto 0;
       
      }
      .pk_testimonial_grid{
          padding: 3em 1em 2em;
          background: #ffffff;
          text-align: center;
          position: relative;
          margin: 5em 1.2em 0;
          box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.05);
          border-radius: 15px;
          
      }
      .pk_testimonial_grid:focus,.agileits_testimonial_grid:focus{
        outline:none;
      }
      .pk_testimonial_grid_pos{
        
        text-align:center;
        left:0%;
        
      }
      .pk_testimonial_grid_pos img{
        margin: auto;
      }
      .pk_testimonial_grid p{
        color:rgb(0, 0, 0);
        position:relative;
        text-align: left;
        padding-left:3.5rem;
        font-style: italic;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
      }
      .pk_testimonial_grid p:before{
        content:"\f10d";
        font-size:2em;
        color:#FFD200;
        font-family:FontAwesome;
        position:absolute;
        top:0%;
        left:0%;
      }
      .agileits_testimonial_grid h4{
        font-size:18px;
        font-weight: 600;
        color:#264A99;
        margin:1em 0 0.5em;
      }
      .agileits_testimonial_grid h5{
        font-size:16px;
        color:#A6A0A0;
      }
      /* Slider */
      /* .slick-slider
      {
          position: relative;
      
          display: block;
      
          -moz-box-sizing: border-box;
               box-sizing: border-box;
      
          -webkit-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none;
      
          -webkit-touch-callout: none;
          -khtml-user-select: none;
          -ms-touch-action: pan-y;
              touch-action: pan-y;
          -webkit-tap-highlight-color: transparent;
      }
      
      .slick-list
      {
          position: relative;
      
          display: block;
          overflow: hidden;
      
          margin: 0;
          padding: 0;
      }
      .slick-list:focus
      {
          outline: none;
      }
      .slick-list.dragging
      {
          cursor: pointer;
          cursor: hand;
      }
      
      .slick-slider .slick-track,
      .slick-slider .slick-list
      {
          -webkit-transform: translate3d(0, 0, 0);
             -moz-transform: translate3d(0, 0, 0);
              -ms-transform: translate3d(0, 0, 0);
               -o-transform: translate3d(0, 0, 0);
                  transform: translate3d(0, 0, 0);
      }
      
      .slick-track
      {
          position: relative;
          top: 0;
          left: 0;
      
          display: block;
      }
      .slick-track:before,
      .slick-track:after
      {
          display: table;
      
          content: '';
      }
      .slick-track:after
      {
          clear: both;
      }
      .slick-loading .slick-track
      {
          visibility: hidden;
      }
      
      .slick-slide
      {
          display: none;
          float: left;
      
          height: 100%;
          min-height: 1px;
      }

      [dir='rtl'] .slick-slide
      {
          float: right;
      }
      .slick-slide img
      {
        display: block;
        border-radius: 50%;
      }
      .slick-slide.slick-loading img
      {
          display: none;
      }
      .slick-slide.dragging img
      {
          pointer-events: none;
      }
      .slick-initialized .slick-slide
      {
          display: block;
      }
      .slick-loading .slick-slide
      {
          visibility: hidden;
      }
      .slick-vertical .slick-slide
      {
          visibility: hidden;
      
          height: auto;
      
          border: 1px solid transparent;
      }
      .slick-arrow.slick-hidden {
          visibility: hidden;;
      } */ 
      /* Arrows
      
      .slick-prev:hover,
      .slick-prev:focus,
      .slick-next:hover,
      .slick-next:focus
      {
          outline: none;
      }
      .slick-prev:hover:before,
      .slick-prev:focus:before,
      .slick-next:hover:before,
      .slick-next:focus:before
      {
          opacity: 1;
      }
      .slick-prev.slick-disabled:before,
      .slick-next.slick-disabled:before
      {
          opacity: .25;
      }
      
      .slick-prev:before,
      .slick-next:before
      {
          font-family: 'FontAwesome';
          line-height: 1;
      
          opacity: .75;
          color: white;
      
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
      }
      .slick-prev:before
      {
          content:"\f177";
      }
      [dir='rtl'] .slick-prev:before
      {
          content: "\f177";
      }
      
      .slick-next,[dir='rtl'] .slick-prev
      {
          right:-6.5%;
      }
      [dir='rtl'] .slick-next,.slick-prev
      {
          right: auto;
          left:-6.5%;
      }
      .slick-next:before
      {
          content: "\f178";
      }
      [dir='rtl'] .slick-next:before
      {
          content: "\f178";
      } */
      
      /* Dots */
      /* .slick-slider
      {
          margin-bottom: 30px;
      }
      
      .slick-dots
      {
          position: absolute;
          display: block;
          width: 100%;
          padding: 0;
          list-style: none;
          text-align: center;
      }
      .slick-dots li
      {
          position: relative;
      
          display: inline-block;
      
          width: 20px;
          height: 20px;
          margin: 0 5px;
          padding: 0;
      
          cursor: pointer;
      }
      .slick-dots li button
      {
          font-size: 0;
          line-height: 0;
      
          display: block;
      
          width: 20px;
          height: 20px;
          padding: 5px;
      
          cursor: pointer;
      
          color: #264A99;
          border: 0;
          outline: none;
          background:transparent;
      }
      .slick-dots li button:hover,
      .slick-dots li button:focus
      {
          outline: none;
      }
      .slick-dots li button:hover:before,
      .slick-dots li button:focus:before
      {
          opacity: 1;
      }
      .slick-dots li button:before
      {
          font-family: 'FontAwesome';
          font-size: 13px;
          line-height: 20px;
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          content: "\f111";
          text-align: center;
          opacity: .25;
          color: #496bb4;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
      }
      .slick-dots li.slick-active button:before
      {
          opacity: 1;
          color: #264A99;
      } */
      /*-- //testimonials --*/
      
      
      /*-- //icons --*/
      /*--Typography--*/
      
      /* @media (max-width: 991px){
        .pk_testimonial_grid {
          padding:3em 2.7em 2em;
          margin: 5em 0.5em 0;
        }
        .pk_testimonial_grid p:before {
          font-size: 1.5em;
        }
        .pk_testimonial_grid p {
          padding-left: 1em;
        }
      }
      
      @media (max-width: 736px){
        .slick-list {
          padding: 0 !important;
        }
        .slick-prev, .slick-next {
          width: 40px;
        }
      }
      
      @media (max-width: 640px){
        .pk_testimonial_grid {
          padding: 3em 2em 2em;
        }
      }
      @media (max-width: 600px){
        .agileits_testimonial_grid h4 {
          font-size: 1em;
        }
        .pk_testimonial_grid {
          padding: 3em 1.5em 2em;
          margin: 4em 0.5em 0;
        }
      }
      
      @media (max-width: 480px){
        .pk_testimonial_grid {
          padding:2em 1em 1.5em;
          margin:3em 0.2em 0;
        }
        .pk_testimonial_grid p:before {
          font-size: 1em;
        }
        .pk_testimonial_grid_pos {
          top: -19%;
        }
        .slick-slide img {
          width: 35%;
        }
      }
      
      @media (max-width: 384px){
        .pk_testimonial_grid_pos {
          top: -9%;
        }
        .pk_testimonial_grid {
          margin: 3em 0.2em 0;
        }
      }
      
      @media (max-width: 320px){
        .pk_testimonial_grid_pos {
          top: -19%;
        }
      } */

 